body {
	background-size: 100% 100%;
  overflow-y: scroll;

  scrollbar-color: #FF6600 #C2D2E4;
}
.submitstyle {

	border-radius:8px;
	color: black;
background-color: #C8C8C8;
    padding: 12px 20px;
    
    border: 1px solid #989898;
	font-size:20px;
	vertical-align:middle;
	text-align:center;
	 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-decoration:none;
    
    
     }

.submitstyle:hover {
background-color: #E8E8E8;
	cursor:pointer;
}


.button {
	
	border-radius:8px;
	color: black;
background-color: #C8C8C8;
    padding: 12px 20px;
    
    border: 1px solid #989898;
	font-size:20px;
	vertical-align:middle;
	text-align:center;
	 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-decoration:none;
	
	
	
	
	
	
}

.button:hover {
background-color: #E8E8E8;
	cursor:pointer;
}





.submitstyle2 {
border-radius:8px;
color: white;
background-color: #FF6600;
    padding: 12px 20px;
    
    border: 1px solid #2cabcf;
	font-size:13px;
	vertical-align:middle;
	text-align:center;
	 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-decoration:none;
}

.submitstyle2:hover {
background-color: orange;
	cursor:pointer;
}






.disconnect {
	background-image: url("../img/icon/disconnect.png");
  background-position: 50px 50px;
	display:block;
	height:50px;
	width:50px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.disconnect:hover {
background-image: url("../img/icon/disconnectn.png");
	cursor:pointer;
}




.new {
	background-image: url("../img/icon/new.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:3px solid #FF6600;
		
	
	
	
}


.new:hover {
background-image: url("../img/icon/newn.png");
	cursor:pointer;
}

.escalade {
	background-image: url("../img/icon/escalade.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.escalade:hover {
background-image: url("../img/icon/escaladen.png");
	cursor:pointer;
}

.clos {
	background-image: url("../img/icon/clos.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.clos:hover {
background-image: url("../img/icon/closn.png");
	cursor:pointer;
}

.modif {
	background-image: url("../img/icon/modif.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.modif:hover {
background-image: url("../img/icon/modifn.png");
	cursor:pointer;
}



.map {
	background-image: url("../img/icon/map.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.map:hover {
background-image: url("../img/icon/mapn.png");
	cursor:pointer;
}


.h24 {
	background-image: url("../img/icon/H24.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.h24:hover {
background-image: url("../img/icon/H24n.png");
	cursor:pointer;
}



.supp {
	background-image: url("../img/icon/delete.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}

.supp:hover {
background-image: url("../img/icon/deleten.png");
	cursor:pointer;
}

.liste {
	background-image: url("../img/icon/liste.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.liste:hover {
background-image: url("../img/icon/listen.png");
	cursor:pointer;
}

.stat {
	background-image: url("../img/icon/stat.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:3px solid #FF6600;
		
	
	
	
}


.stat:hover {
background-image: url("../img/icon/statn.png");
	cursor:pointer;
}

.b2b {
	background-image: url("../img/icon/b2b.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.b2b:hover {
background-image: url("../img/icon/b2bn.png");
	cursor:pointer;
}

.modop {
	background-image: url("../img/icon/modop.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.modop:hover {
background-image: url("../img/icon/modopn.png");
	cursor:pointer;
}




.door {
	background-image: url("../img/icon/door.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.door:hover {
background-image: url("../img/icon/doorn.png");
	cursor:pointer;
}


.power {
	background-image: url("../img/icon/power.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.power:hover {
background-image: url("../img/icon/powern.png");
	cursor:pointer;
}


.impact {
	background-image: url("../img/icon/alarmes.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.impact:hover {
background-image: url("../img/icon/alarmesn.png");
	cursor:pointer;
}

.env {
	background-image: url("../img/icon/environ.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.env:hover {
background-image: url("../img/icon/environn.png");
	cursor:pointer;
}

.courbe {
	background-image: url("../img/icon/courbes.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:1px solid #FF6600;
		
	
	
	
}


.courbe:hover {
background-image: url("../img/icon/courbesn.png");
	cursor:pointer;
}

.antenna {
	background-image: url("../img/icon/antenna.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:3px solid #FF6600;
		
	
	
	
}


.antenna:hover {
background-image: url("../img/icon/antennan.png");
	cursor:pointer;
}


.pass {
	background-image: url("../img/icon/pass.png");
  background-position: 100px 100px;
	display:block;
	height:100px;
	width:100px;
	border-radius: 50%;
	border:3px solid #FF6600;
		
	
	
	
}


.pass:hover {
background-image: url("../img/icon/passn.png");
	cursor:pointer;
}




input[type=text], select, [type=password],textarea,[type=time] {
  
 padding: 12px 20px;
  font-size:17px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
background-color: white;

div {
  height: 100px;
  width: 200px;
  border-style: solid;
  border-color: black;
  background-color: palegreen;
}
}

.arrondi_droit {
  border-radius: 10px 40px 40px 10px;
}