body {
background-size: 100% 100%;
  overflow-y: scroll;

    background-image: url("../img/backg/backg.png");

 
  scrollbar-color: #FF6600 #C2D2E4;
}
.submitstyle {

	border-radius:8px;
	color: white;
background-color: #FF6600;
    padding: 12px 20px;
    
    border: 1px solid #2cabcf;
	font-size:20px;
	vertical-align:middle;
	text-align:center;
	 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-decoration:none;
    
    
     }

.submitstyle:hover {
background-color: orange;
	cursor:pointer;
}





.submitstyle2 {
border-radius:8px;
color: white;
background-color: #FF6600;
    padding: 12px 20px;
    
    border: 1px solid #2cabcf;
	font-size:13px;
	vertical-align:middle;
	text-align:center;
	 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-decoration:none;
}

.submitstyle2:hover {
background-color: orange;
	cursor:pointer;
}

textarea
{
	
 padding: 12px 20px;
  font-size:18px;
  font: "Lucida Grande";
	
 
  display: inline-block;
  border: 0px solid white;
  border-radius: 4px;
  box-sizing: border-box;
background-color: white;	
	
	
	
	
	
}




input[type=text], select, [type=password],[type=time] {
  
 padding: 12px 20px;
  font-size:17px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid white;
  border-radius: 4px;
  box-sizing: border-box;
background-color: white;

div {
  height: 100px;
  width: 200px;
  border-style: solid;
  border-color: black;
  background-color: palegreen;
}
}

.arrondi_droit {
  border-radius: 10px 40px 40px 10px;
}